{% extends "padre.html" %}

{% load static %}

{% block contenido %}
    <form action="alta_profesor" method="POST">
        {% csrf_token %}
        <p>Nombre:</p>
        <input type="text" name="profesor_id" required>
        <p>Curso</p>
        <select name="curso_id" required>
            {% for curso in form.curso_id.field.queryset %}
                <option value="{{ curso.pk }}">{{ curso.nombre }}</option>
            {% endfor %}
        </select>
        <button>Enviar</button>
    </form>
{% endblock %}